<style type="text/css">
  .slide {
    height: 100%; 
    min-height: 100%;
    padding-top: 46px;
  }
  .slide-body
  {
    position: relative;
    height: 100%; 
    min-height: 600px;
  }
  .full-slide {
    position: relative;
    min-width: 1024px;
  }

  /* crafts */
  #crafts {
    background-color: green;
  }
  #crafts .content {
    position: relative;
    top: 50%;
    left: 8%;
    width: 84%;
    margin-top: -18%;
  }
  #crafts .content .img-area {
    width: 70%;
  }
  #crafts .content .img-area img {
    width: 100%;
  }
  #crafts .content .text-area {
    position: absolute;
    top: -15%;
    left: 52%;
    width: 40%;
  }
  #crafts .content .measurement {
    position: absolute;
    top: 20%;
    font-size: 18px;
    left: 70%;
  }
  #crafts .content .measurement .number {
    font-size: 70px;
  }
  #crafts .content .measurement .unit {
    font-size: 36px;
  }

  /*tech*/
  #tech {
    background-color: red;
  }
  #tech .img-area {
    position: absolute;
    width: 35%;
  }
  #tech .img-area.right {
    top: -17%;
    left: 65%;
  }
  #tech .img-area.left {
    top: 25%;
  }
  #tech .text-area {
    position: absolute;
    top: 50%;
    margin-top: -76px;
    left: 50%;
    margin-left: -147px;
  }
  #tech .measurement {
    position: absolute;
    font-size: 18px;
    color: #8F8080;
  }
  #tech .measurement .number {
    font-size: 44px;
  }
  #tech .measurement hr {
    border-top: 2px solid #8F8080;
    margin: 0;
  }
  #tech .measurement.sm {
    top: 45%;
    left: 88%;
    width: 60%;
    text-align: right;
  }
  #tech .measurement.lg {
    text-align: left;
    width: 50%;
    top: 32%;
    left: -35%;
  }

  /*quality*/
  #quality {
    background-image: url('<%= asset_path("quality_full.jpg") %>'); 
    background-size: 100%;
  }
  #quality .text-area {
    color: white;
    left: 20%;
    position: absolute;
    top: 25%;
  }


  /*media*/

  @media (max-width: 768px) {
    .full-slide {
      min-width: 100%;
    }

    /* crafts */
    #crafts .content {
      top: 30%;
      left: 0;
      width: 100%;
      margin-top: 0%;
    }
    #crafts .content .img-area {
      width: 100%;
    }
    #crafts .content .text-area {
      top: -28%;
      left: 0;
      width: 100%;
      text-align: center;
    }

    #crafts .content .measurement {
      top: 28%;
      font-size: 12px;
      left: 30%;
      text-align: center;
      width: 40%;
    }
    #crafts .content .measurement .number {
      font-size: 28px;
    }
    #crafts .content .measurement .unit {
      font-size: 14px;
    }

    /*tech*/
    #tech .img-area.left {
      top: 40%;
    }
    #tech .img-area.right {
      top: 12%;
      left: 65%;
    }
    #tech .measurement.lg {
      text-align: left;
      width: 90%;
      top: 8%;
      left: -35%;
    }
    #tech .measurement.sm {
      top: 45%;
      left: 78%;
      width: 100%;
      text-align: right;
    }
    #tech .measurement .number {
      font-size: 24px;
    }
    #tech .measurement p {
      font-size: 12px;
    }
    #tech .text-area {
      top: 40%;
      left: 20%;
      margin-left: 0; 
      width: 60%;
    }

    /*quality*/
    #quality {
      background-image: url('<%= asset_path("quality.jpg") %>'); 
      background-size: 100%;
    }
    #quality .text-area {
      left: 20%;
      top: 50%;
    }
  }  
</style>
<div class="container slide-body">
  <div id="crafts" class="active crafts slide">
    <div class="content">
      <div class="img-area">
        <%= image_tag('crafts.png') %>
      </div>
      <div class="text-area text-right">
        <div class="title">
          <h1><%= t('home_page.crafts.title') %></h1>
        </div>
        <div class="description">
          <p class="large">
            <%= t('home_page.crafts.content_1') %>
          </p>  
        </div>
      </div>
      <div class="measurement text-left">
        Waviness Rmax小於
        <br>
        <span class="number">60</span>
        <span class="unit">nm</span>
      </div>  
    </div>
  </div>
</div>
<div class="slide-body">
  <div id="tech" class="slide full-slide">
    <div class="img-area left">
      <%= image_tag('tech_2.png') %>
      <div class="measurement sm">
        <p>
          <%= t('home_page.tech.radius') %>
          <span class="number">0.03</span>
          nm
        </p>
        <hr>
      </div>
    </div>
    <div class="img-area right">
      <%= image_tag('tech_1.png') %>
      <div class="measurement lg">
        <p>
          <%= t('home_page.tech.radius') %>
          <span class="number">1.0</span>
          nm
        </p>
        <hr>
      </div>
    </div>
    <div class="container" style="background-color: yellow;">
      <div class="text-area">
        <h1><%= t('home_page.tech.title') %></h1>
        <p class="large">
          <%= t('home_page.tech.content_1') %><br><%= t('home_page.tech.content_2') %>
        </p>  
      </div>
    </div>
  </div>
</div>
<div class="slide-body">
  <div id="quality" class="slide full-slide">
    <div class="container">
      <div class="text-area">
        <h1><%= t('home_page.quality.title') %></h1>
        <br>
        <br>
        <p class="lead">
          <%= t('home_page.quality.content_1') %>
          <br>
          <%= t('home_page.quality.content_2') %>
          <br>
          <%= t('home_page.quality.content_3') %>
        </p>
      </div> 
    </div>
  </div>
</div>
<div class="slide-body">
  <div class="slide full-slide">
    <div class="container">
      <div class="text-area">
        <h1><%= t('home_page.quality.title') %></h1>
        <br>
        <br>
        <p class="lead">
          <%= t('home_page.quality.content_1') %>
          <br>
          <%= t('home_page.quality.content_2') %>
          <br>
          <%= t('home_page.quality.content_3') %>
        </p>
      </div> 
    </div>
  </div>
</div>