<style type="text/css">
  .slide {
    height: 100%; 
    min-height: 100%;
    padding-top: 46px;
  }
  .slide-body
  {
    position: relative;
    height: 100%; 
    min-height: 600px;
  }
  .full-slide {
    position: relative;
    min-width: 1024px;
  }

  /* crafts */
  #crafts {
    background-color: green;
  }
  #crafts .content {
    position: relative;
    top: 50%;
    left: 8%;
    width: 84%;
    margin-top: -18%;
  }
  #crafts .content .img-area {
    width: 70%;
  }
  #crafts .content .img-area img {
    width: 100%;
  }
  #crafts .content .text-area {
    position: absolute;
    top: -15%;
    left: 52%;
    width: 40%;
  }
  #crafts .content .measurement {
    position: absolute;
    top: 20%;
    font-size: 18px;
    left: 70%;
  }
  #crafts .content .measurement .number {
    font-size: 70px;
  }
  #crafts .content .measurement .unit {
    font-size: 36px;
  }

  /*tech*/
  #tech {
    background-color: red;
  }
  #tech .img-area {
    position: absolute;
    width: 35%;
  }
  #tech .img-area.right {
    top: -17%;
    left: 65%;
  }
  #tech .img-area.left {
    top: 25%;
  }
  #tech .text-area {
    position: absolute;
    top: 50%;
    margin-top: -76px;
    left: 50%;
    margin-left: -147px;
  }
  #tech .measurement {
    position: absolute;
    font-size: 18px;
    color: #8F8080;
  }
  #tech .measurement .number {
    font-size: 44px;
  }
  #tech .measurement hr {
    border-top: 2px solid #8F8080;
    margin: 0;
  }
  #tech .measurement.sm {
    top: 45%;
    left: 88%;
    width: 60%;
    text-align: right;
  }
  #tech .measurement.lg {
    text-align: left;
    width: 50%;
    top: 32%;
    left: -35%;
  }

  /*quality*/
  #quality {
    background-image: url('<%= asset_path("quality_full.jpg") %>'); 
    background-size: 100%;
  }
  #quality .text-area {
    color: white;
    left: 20%;
    position: absolute;
    top: 25%;
  }

  /*research*/
  #research {
    background-color: #192635;
    background-image: url('<%= asset_path("blueprint.png") %>'); 
    color: white;
  }
  #research .img-area {
    position: absolute;
    width: 916px;
    margin-left: 39px;
  }
  #research .img-area img {
    width: 100%;
  }
  #research .text-area {
    position: absolute;
    width: 300px;
    margin-left: 268px;
  }

  /*material*/
  #material {
    padding-top: 70px;
  }
  #material .content {
    width: 700px;
    margin-left: 147px;
  }
  #material .content .img-area {
    display: block;
    width: 300px;    
    padding-top: 10px;
    padding-left: 25px;
    float: left;
  }
  #material .content .text-area {
    display: block;
    width: 400px;    
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    float: left;
  }
  #material .content .notice {
    margin-top: 200px;
    padding: 10px 25px;
  }

  /*support*/
  #support {
    background-color: red;
  }
  #support .content {
    width: 700px;
    margin-left: 147px;
    padding: 30px 40px;
  }
  #support .content .function.grinding {
    background-image: url('<%= asset_path("grinding.jpg") %>'); 
    background-size: 100%;
  }
  #support .content .function.reform {
    background-image: url('<%= asset_path("reform.jpg") %>'); 
    background-size: 100%;
  }
  #support .content .function.custom {
    background-image: url('<%= asset_path("custom.jpg") %>'); 
    background-size: 100%;
  }
  #support .content .function {
    width: 150px;
    height: 150px;
    margin-left: 43px;
    border-radius: 75px;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    display: block;
    float: left;
    text-align: center;
    font-size: 36px;
    padding-top: 46px;
    color: white;
    text-shadow: -1px 0 #dddddd, 0 2px #383838, 2px 0 #383838, 0 -1px #dddddd;
  }
  #support .content .contact {
    text-align: center;
    margin-top: 250px;
  }
  #support .content .btn {
    font-size: 36px; 
    width: 250px;
  }

  /*nav*/
  #progress-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    right: 17px;
    top: 50%;
    opacity: 1;
  }
  #progress-nav ul {
    list-style: none outside;
  }
  #progress-nav ul a {
    color: black;
  }
  #progress-nav ul .hover-text {
    display: none;
    color: #373737;
  }
  #progress-nav i {
    font-size: 6px;
  }
  #progress-nav .inverse .hover-text {
    color: #dddddd;
  }

  /*media*/

  @media (max-width: 768px) {
    .full-slide {
      min-width: 100%;
    }

    /* crafts */
    #crafts .content {
      top: 30%;
      left: 0;
      width: 100%;
      margin-top: 0%;
    }
    #crafts .content .img-area {
      width: 100%;
    }
    #crafts .content .text-area {
      top: -28%;
      left: 0;
      width: 100%;
      text-align: center;
    }

    #crafts .content .measurement {
      top: 28%;
      font-size: 12px;
      left: 30%;
      text-align: center;
      width: 40%;
    }
    #crafts .content .measurement .number {
      font-size: 28px;
    }
    #crafts .content .measurement .unit {
      font-size: 14px;
    }

    /*tech*/
    #tech .img-area.left {
      top: 40%;
    }
    #tech .img-area.right {
      top: 12%;
      left: 65%;
    }
    #tech .measurement.lg {
      text-align: left;
      width: 90%;
      top: 8%;
      left: -35%;
    }
    #tech .measurement.sm {
      top: 45%;
      left: 78%;
      width: 100%;
      text-align: right;
    }
    #tech .measurement .number {
      font-size: 24px;
    }
    #tech .measurement p {
      font-size: 12px;
    }
    #tech .text-area {
      top: 40%;
      left: 20%;
      margin-left: 0; 
      width: 60%;
    }

    /*quality*/
    #quality {
      background-image: url('<%= asset_path("quality.jpg") %>'); 
      background-size: 100%;
    }
    #quality .text-area {
      left: 20%;
      top: 50%;
    }

    /*research*/
    #research .img-area {
      width: 80%;
      left: 10%;
      margin-left: 0;
    }
    #research .text-area {
      width: 80%;
      left: 10%;
      margin-left: 0;
      top: 45%;
      text-align: center;
    }

    /*material*/
    #material .content {
      position: relative;
      width: 80%;
      left: 10%;
      margin-left: 0;
    }
    #material .content .img-area {
      padding: 10px 25px;
      display: block;
      margin: auto;
      width: 100%;
      float: none;
    }
    #material .content .text-area {
      padding: 10px 25px;
      display: block;
      margin: auto;
      width: 100%;
      float: none;
    }
    #material .content .notice {
      padding: 10px 25px;
      margin: 0 auto;
      width: 100%;
    }
    #material .content .notice h3 small {
      font-size: 12px;
    }

    /*support*/
    #support .content {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    #support .content .function {
      width: 100px;
      height: 100px;
      margin: 5px auto;
      float: none;
      padding-top: 26px;
    }
    #support .content a {
      text-decoration: none;
    }
    #support .content .contact {
      margin-top: 20px;
    }
    #support .content .btn {
      font-size: 26px; 
      width: 150px;
    }
  }  
</style>
<div class="container slide-body">
  <div id="crafts" class="active crafts slide">
    <div class="content">
      <div class="img-area">
        <%= image_tag('crafts.png') %>
      </div>
      <div class="text-area text-right">
        <div class="title">
          <h1><%= t('home_page.crafts.title') %></h1>
        </div>
        <div class="description">
          <p class="large">
            <%= t('home_page.crafts.content_1') %>
          </p>  
        </div>
      </div>
      <div class="measurement text-left">
        Waviness Rmax小於
        <br>
        <span class="number">60</span>
        <span class="unit">nm</span>
      </div>  
    </div>
  </div>
</div>
<div class="slide-body">
  <div id="tech" class="slide full-slide">
    <div class="img-area left">
      <%= image_tag('tech_2.png') %>
      <div class="measurement sm">
        <p>
          <%= t('home_page.tech.radius') %>
          <span class="number">0.03</span>
          nm
        </p>
        <hr>
      </div>
    </div>
    <div class="img-area right">
      <%= image_tag('tech_1.png') %>
      <div class="measurement lg">
        <p>
          <%= t('home_page.tech.radius') %>
          <span class="number">1.0</span>
          nm
        </p>
        <hr>
      </div>
    </div>
    <div class="container" style="background-color: yellow;">
      <div class="text-area">
        <h1><%= t('home_page.tech.title') %></h1>
        <p class="large">
          <%= t('home_page.tech.content_1') %><br><%= t('home_page.tech.content_2') %>
        </p>  
      </div>
    </div>
  </div>
</div>
<div class="slide-body">
  <div id="quality" class="slide full-slide">
    <div class="container">
      <div class="text-area">
        <h1><%= t('home_page.quality.title') %></h1>
        <br>
        <br>
        <p class="lead">
          <%= t('home_page.quality.content_1') %>
          <br>
          <%= t('home_page.quality.content_2') %>
          <br>
          <%= t('home_page.quality.content_3') %>
        </p>
      </div> 
    </div>
  </div>
</div>
<div class="slide-body">
  <div id="research" class="slide full-slide">
    <div class="container">
      <div class="img-area">
        <%= image_tag('research.png') %>
      </div>
      <div class="text-area">
        <h1><%= t('home_page.research.title') %></h1>
        <br>
        <p class="large">
          <%= t('home_page.research.content_1') %>
          <br>
          <%= t('home_page.research.content_2') %>
          <br>
          <%= t('home_page.research.content_3') %>
          <br>
          <%= t('home_page.research.content_4') %>
          <br>
          <%= t('home_page.research.content_5') %>
        </p>
      </div> 
    </div>
  </div>
</div>
<div class="container slide-body">
  <div id="material" class="slide">
    <div class="content">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active">
          <a href="#material_1" data-toggle="tab">
            <%= t('home_page.material.material_1.title') %>
          </a>
        </li>
        <li>
          <a href="#material_2" data-toggle="tab">
            <%= t('home_page.material.material_2.title') %>
          </a>
        </li>
        <li>
          <a href="#material_3" data-toggle="tab">
            <%= t('home_page.material.material_3.title') %>
          </a>
        </li>
        <li>
          <a href="#material_4" data-toggle="tab">
            <%= t('home_page.material.material_4.title') %>
          </a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="material_1">
          <div class="img-area">
            <%= image_tag('material_1.jpg', class: 'img-rounded') %>
          </div>
          <div class="text-area">
            <p class="large">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= t('home_page.material.material_1.content') %>
            </p>
          </div>
        </div>
        <div class="tab-pane fade" id="material_2">
          <div class="img-area">
            <%= image_tag('material_2.jpg', class: 'img-rounded') %>
          </div>
          <div class="text-area">
            <p class="large">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= t('home_page.material.material_2.content') %>
              <br>
              <%= t('home_page.material.material_2.content_1') %>
              <ul>
                <li><%= t('home_page.material.material_2.content_2') %></li>
                <li><%= t('home_page.material.material_2.content_3') %></li>
              </ul>
            </p>
          </div>
        </div>
        <div class="tab-pane fade" id="material_3">
          <div class="img-area">
            <%= image_tag('material_3.jpg', class: 'img-rounded') %>
          </div>
          <div class="text-area">
            <p class="large">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= t('home_page.material.material_3.content') %>
            </p>
          </div>
        </div>
        <div class="tab-pane fade" id="material_4">
          <div class="img-area">
            <%= image_tag('material_4.jpg', class: 'img-rounded') %>
          </div>
          <div class="text-area">
            <p class="large">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= t('home_page.material.material_4.content') %>
            </p>
          </div>
        </div>
      </div>
      <div class="notice">
        <h3><small><%= t('home_page.material.subscript') %></small></h3>
      </div>
    </div>
  </div>
</div>
<div class="container slide-body">
  <div id="support" class="slide">
    <div class="content">
      <%= link_to support_path(anchor: :to_grinding), target: '_blank' do %>
        <div class="grinding function">
          <span><%= t('home_page.support.grinding') %></span>
        </div>
      <% end -%>
      <%= link_to support_path(anchor: :to_reform), target: '_blank' do %>
        <div class="reform function">
          <span><%= t('home_page.support.reform') %></span>
        </div>
      <% end -%>
      <%= link_to support_path(anchor: :to_custom), target: '_blank' do %>
        <div class="custom function">
          <span><%= t('home_page.support.custom') %></span>
        </div>
      <% end -%>
      <div class="contact">
        <%= link_to t('nav_contact'), contact_path, class: 'btn btn-warning btn-lg' %>
      </div>
    </div>
  </div>
</div>
<nav id="progress-nav">
  <ul>
    <li class="text-right">
      <span class="hover-text"><%= t('home_page.nav_progress.crafts') %></span> 
      <a class="crafts" href="#crafts"><i class="fa fa-circle"></i></a>
    </li>
    <li class="text-right">
      <span class="hover-text"><%= t('home_page.nav_progress.tech') %></span> 
      <a class="tech" href="#tech"><i class="fa fa-circle-o"></i></a>  
    </li>
    <li class="text-right">
      <span class="hover-text"><%= t('home_page.nav_progress.quality') %></span> 
      <a class="quality" href="#quality"><i class="fa fa-circle-o"></i></a>  
    </li>
    <li class="text-right">
      <span class="hover-text"><%= t('home_page.nav_progress.research') %></span> 
      <a class="research" href="#research"><i class="fa fa-circle-o"></i></a>
    </li>
    <li class="text-right">
      <span class="hover-text"><%= t('home_page.nav_progress.material') %></span> 
      <a class="material" href="#material"><i class="fa fa-circle-o"></i></a>
    </li>
    <li class="text-right">
      <span class="hover-text"><%= t('home_page.nav_progress.support') %></span> 
      <a class="support" href="#support"><i class="fa fa-circle-o"></i></a>
    </li>
  </ul>
</nav>