<style type="text/css">
  .slide {
    height: 100%; 
    min-height:100%;
    padding-top: 50px;
  }

  #crafts {
    background-color: green;
  }
</style>
<div class="container slide-body">
  <div id="crafts" class="active crafts slide">
    <div class="content">
      <div class="text-area">
        <div class="title">
          <h1><%= t('home_page.crafts.title') %></h1>
        </div>
        <div class="description">
          <p class="large">
            <%= t('home_page.crafts.content_1') %>
          </p>  
        </div>
      </div>
      <div class="img-area">
        <%= image_tag('crafts.png', style: "border: 1px solid rgba(86,61,124,.2);") %>
        <div class="measurement text-left">
          Waviness Rmax小於
          <br>
          <span class="number">60</span>
          <span class="unit">nm</span>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="container slide-body">
  <div id="crafts" class="active crafts slide">
    <div class="content">
      <div class="text-area">
        <div class="title">
          <h1><%= t('home_page.crafts.title') %></h1>
        </div>
        <div class="description">
          <p class="large">
            <%= t('home_page.crafts.content_1') %>
          </p>  
        </div>
      </div>
      <div class="img-area">
        <%= image_tag('crafts.png', class: '') %>
        <div class="measurement text-left">
          Waviness Rmax小於
          <br>
          <span class="number">60</span>
          <span class="unit">nm</span>
        </div>  
      </div>
    </div>
  </div>
</div>