<style type="text/css">
  body {
    overflow: hidden;
  }
  .content > h1 {
    font-size: 72px;
  }
  .content {
    top: 50%;
  }
  .quality {
    background-image: url('<%= asset_path("quality.jpg") %>'); 
    background-size: 100%;
  }
  .quality > .content {
    color: white;
    margin-top: -128px;
  }
  .quality > .content > p {
    padding-left: 20px;
  }
  .crafts > .content {
    margin-top: -231px; 
  }
  .crafts .img-area {
    position: relative; 
    width: 100%;
  }
  .crafts .measurement {
    position: absolute; 
    top: 50px; 
    left: 350px; 
    width: 150px; 
  }
  .crafts .measurement .number {
    font-size: 52px;
    line-height: 1;
    width: 60px;
  }
  .crafts .measurement .unit {
    font-size: 28px;
  }
</style>
  <div class="active crafts" style="background-color: red; height: 100%; min-height:100%;">
    <div class="col-sm-8 col-sm-offset-2 text-center content">
      <h1><%= t('home_page.crafts.title') %></h1>
      <p class="lead">
        <%= t('home_page.crafts.content_1') %>
      </p>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="img-area">
          <%= image_tag('crafts.png', class: '') %>
          <div class="measurement text-left">
            Waviness Rmax小於
            <br>
            <span class="number">60</span>
            <span class="unit">nm</span>
          </div>  
        </div>
      </div>  
    </div>
  </div>
  <div class="middle" style="background-color: green; height: 100%; min-height:100%;">

  </div>
  <div class="quality" style="height: 100%; min-height:100%;">
    <div class="col-sm-6 col-sm-offset-2 content">
      <h1><%= t('home_page.quality.title') %></h1>
      <br>
      <br>
      <p class="lead">
        <%= t('home_page.quality.content_1') %>
        <br>
        <%= t('home_page.quality.content_2') %>
        <br>
        <%= t('home_page.quality.content_3') %>
      </p>
    </div>
  </div>


<script type="text/javascript">
  $(function() {
    function animat_crafts() {
      var $crafts_number = $('.crafts').find('.measurement').find('.number');
      var number = 30;
      var id = setInterval(function() {
        number = number + 1;
        if (number >= 60) {
          clearInterval(id);
        };
        $crafts_number.html(number);
      }, number);
    }

    function slide() {
      var animating = false;
      $(window).on('mousewheel DOMMouseScroll', function(e){
        e.preventDefault();      
        if (animating) {
          return false;
        };
        var delta = e.originalEvent.detail < 0 || e.originalEvent.wheelDelta > 0 ? 1 : -1;
        //get the current active slide
        var $active = $('body > .active');

        if(delta < 0) { 
            //mousewheel down
            var $next = $active.next();
            //check if there's a next slide available
            if($next.length){
                animating = true;
                //animate scrolling to the next slides offset top
                $(window).unbind(); 
                $('body, html').stop(true).animate({scrollTop:$next.offset().top},'slow', function() {
                  setTimeout(function() {
                    slide();
                    animating = false;
                    $next.addClass('active').siblings().removeClass('active');
                  }, 1000);
                });
            }

        }else{
            //mousewheel up
            var $prev = $active.prev();
            if($prev.length){
                animating = true;
                $(window).unbind();
                 //animate scrolling to the previous slides offset top
                $('body, html').stop(true).animate({scrollTop:$prev.offset().top},'slow', function() {
                  setTimeout(function() {
                    slide();
                    animating = false;
                    $prev.addClass('active').siblings().removeClass('active');
                  }, 1000);
                });
            }
        }
      });  
    }
    slide();
    setTimeout(function() {
      animat_crafts();
    }, 2000);
    // $(window).scroll(function() {
    //   console.log($('.number').offset().top - $(window).scrollTop());
    // });
    
  });

</script>