<div id="grinding"></div>
<br>
<br>
<div class="col-sm-6 col-sm-offset-3">
	<h1 class="text-center"><%= I18n.t('support_page.grinding.title') %></h1>
	<br>
	<div class="col-sm-8 col-sm-offset-2">
		<%= image_tag('grinding.jpg', class: 'img-circle', style: 'width: 330px; height: 330px;') %>
	</div>
	<div class="col-sm-12">
		<br>
		<p class="lead">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t('support_page.grinding.content_1') %><%= t('support_page.grinding.content_2') %><%= t('support_page.grinding.content_3') %><%= t('support_page.grinding.content_4') %><%= t('support_page.grinding.content_5') %><%= t('support_page.grinding.content_6') %>
		</p>
		<br>
		<p class="text-right">
			<em><small><%= t('support_page.grinding.sub_content') %></small></em>
		</p>
	</div>
</div>
<div class="col-sm-6 col-sm-offset-3">
	<br>
	<br>
	<br>
	<hr>
	<div id="reform"></div>
	<br>
	<br>
	<br>
</div>
<div class="col-sm-6 col-sm-offset-3">
	<h1 class="text-center"><%= I18n.t('support_page.reform.title') %></h1>
	<br>
	<div class="col-sm-8 col-sm-offset-2">
		<%= image_tag('reform.jpg', class: 'img-circle', style: 'width: 330px; height: 330px;') %>
	</div>
	<div class="col-sm-12">
		<br>
		<p class="lead">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t('support_page.reform.content_1') %><%= t('support_page.reform.content_2') %><%= t('support_page.reform.content_3') %><%= t('support_page.reform.content_4') %><%= t('support_page.reform.content_5') %>
		</p>
		<br>
		<p class="text-right">
			<em><small><%= t('support_page.reform.sub_content') %></small></em>
		</p>
	</div>
</div>
<div class="col-sm-6 col-sm-offset-3">
	<br>
	<br>
	<br>
	<hr>
	<div id="custom"></div>
	<br>
	<br>
	<br>
</div>
<div class="col-sm-6 col-sm-offset-3">
	<h1 class="text-center"><%= I18n.t('support_page.custom.title') %></h1>
	<br>
	<div class="col-sm-8 col-sm-offset-2">
		<%= image_tag('custom.jpg', class: 'img-circle', style: 'width: 330px; height: 330px;') %>
	</div>
	<div class="col-sm-12">
		<br>
		<p class="lead">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t('support_page.custom.content_1') %><%= t('support_page.custom.content_2') %><%= t('support_page.custom.content_3') %><%= t('support_page.custom.content_4') %>
		</p>
		<br>
		<p class="text-right">
			<em><small><%= t('support_page.custom.sub_content') %></small></em>
		</p>
	</div>
</div>