<%= form_for [:admin, @product], :html => { :role => "form", autocomplete: 'off' } do |f| %>
  <%= f.hidden_field :photo_id %>
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#zh-TW" data-toggle="tab">繁體</a></li>
    <li class=""><a href="#zh-CN" data-toggle="tab">簡體</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="zh-TW">

      <div class="form-group">
        <%= f.label :'標題' %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_field :title, :autofocus => true, class: "form-control" %>  
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :'內容' %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :content, :class => 'ckeditor' %>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="zh-CN">

      <div class="form-group">
        <%= f.label :'標題(簡體)' %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_field :zh_cn_title, :autofocus => true, class: "form-control" %>  
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :'內容(簡體)' %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :zh_cn_content, :class => 'ckeditor' %>
          </div>
        </div>
      </div>

    </div>
  </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "確定送出", class: "btn btn-primary" %>
      </div>
    </div>    
<% end %>
<script type="text/javascript">
  $('.ckeditor').ckeditor({
    height: 280,
    toolbar: [
      { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', '-', 'Undo', 'Redo' ] },
      { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
      { name: 'insert', items: [ 'Table'] },
      { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
      { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
      { name: 'tools', items: [ 'Maximize'] },
      { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] }
    ]
  });
</script>