<style type="text/css">
  .category {
    margin: 20px 20px 20px 0;
  }
  .category .btn-default {
    color: #373737;
    background-color: white;
  }
  .category .btn-default:hover {
    color: white;
    background-color: #428bca;
  }
</style>
<h1>產品 <small>列表</small></h1>
<div class="row">
  <div class="col-sm-12">
    <%= paginate @products, theme: 'twitter-bootstrap-3' %>
    <div class="category pull-left">
      <div class="btn-group">
        <% Product.cates.each_pair do |id, name| %>
          <%= link_to name, admin_products_path(category: id), class: 'btn ' + (id.to_s == params[:category] ? 'btn-primary' : 'btn-default') %>
        <% end -%>
      </div>
    </div>  
  </div>    
</div>
<table class="table table-striped ">
  <thead>
    <tr>
      <th width="30">ID</th>
      <th width="80">圖片</th>
      <th>標題</th>
      <th width="250">分類</th>
      <th width="120">建立時間</th>
      <th width="120">最後修改</th>
      <th width="120"><%= link_to '新增產品', new_admin_product_path, class: 'btn btn-primary btn-sm' %></th>
    </tr>
  </thead>
  <% if @products.size == 0 %>
    <tr>
      <td colspan="7" class="text-center">目前此分類無產品</td>
    </tr>
  <% end %>
  <% @products.each do |product| %>
  
  <tr>
    <td><%= product.id %></td>
    <td>
      <%= image_tag(product.photo.avatar.url(:thumb), class: 'img-rounded') %>
    </td>
    <td><%= link_to product.title, edit_admin_product_path(product) %></td>
    <td><%= Product.get_cate_name(product.category) %></td>
    <td><%= time_ago_in_words(product.created_at) %></td>
    <td><%= time_ago_in_words(product.updated_at)%> 前</td>
    <td>
      <%= link_to '刪除', admin_product_path(product), method: :delete, data: { confirm: '確定刪除此產品?' }, class: 'btn btn-danger btn-sm' %>
    </td>
  </tr>
  
  <% end %>
  
</table>

