<li>
  <%= link_to '測試', home_new_path %>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('product.sample') %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>
    	<a href="<%= products_path(1, Product.cates[1]) %>">
    		<i class="fa fa-cogs fa-2x"></i>&nbsp;&nbsp;&nbsp;<%= t 'product.category.watches' %></a>
    </li>
    <li>
      <a href="<%= products_path(5, Product.cates[5]) %>">
        <span class="fa-stack">
				  <i class="fa fa-square fa-stack-2x"></i>
				  <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
				</span>&nbsp;&nbsp;&nbsp;<%= t 'product.category.precious_metals' %>
      </a>
    </li>
    <li>
      <a href="<%= products_path(9, Product.cates[9]) %>">
        <i class="fa fa-camera-retro fa-2x"></i>&nbsp;&nbsp;&nbsp;<%= t 'product.category.photoelectric' %>
      </a>
    </li>
    <li>
      <a href="<%= products_path(13, Product.cates[13]) %>">
        <i class="fa fa-flask fa-2x"></i>&nbsp;&nbsp;&nbsp;<%= t 'product.category.polymer_materials' %>
      </a>
    </li>
    <li>
      <a href="<%= products_path(17, Product.cates[17]) %>">
        <i class="fa fa-inbox fa-2x"></i>&nbsp;&nbsp;&nbsp;<%= t 'product.category.chassis_aluminum' %>
      </a>
    </li>
    <li>
      <a href="<%= products_path(21, Product.cates[21]) %>">
        <i class="fa fa-wrench fa-2x"></i>&nbsp;&nbsp;&nbsp;<%= t 'product.category.exclusive_custom' %>
      </a>
    </li>
  </ul>
</li>
<li>
  <%= link_to t('nav_support'), support_path %>
</li>
<li>
  <%= link_to t('nav_contact'), contact_path %>
</li>