<style type="text/css">
  .navbar-brand {
    background-image: url('<%= asset_path("JongChyi.Icon.png") %>'); 
    background-repeat: no-repeat; 
    background-size: 80px Auto;
    padding-left: 105px;
    background-position: 25px center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
  }
  .navbar {
    min-height: 70px;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media (max-width: 768px) {
    .navbar-brand {
      height: 50px;
      background-size: 50px Auto;
      background-position: 0px center;
      padding-left: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
    }
    .navbar {
      min-height: 50px;
    }   
    .navbar .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('home'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links' %>
        <li>
          <% if I18n.locale == :'zh-TW' %>
            <%= link_to "简体版", :locale => "zh-CN" %>
          <% else %>  
            <%= link_to "繁體版", :locale => "zh-TW" %>
          <% end -%>
        </li>  
      </ul>
    </div>
  </div>
</nav>
