<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "CaseJongchyi" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <style type="text/css">
    body {
      /*background-image: url('<%= asset_path("squared_metal_@2X.png") %>'); */
    }
    .navbar {
      min-height: 46px;
    }
    #wrap .container{
/*      background-color: blue; */
      width: 1024px;
    } 
    p.large {
      font-size: 21px;
    }

    @media (max-width: 768px) {
      #wrap .container{
        /*background-color: red; */
        width: auto;
      }
      h1 {
        font-size: 32px;
      }
      p.large {
        font-size: 18px;
      }
    }
  </style>
  <div id="wrap">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
      
    <div class="container ">
       
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>

      <%= yield %>

    </div>
  </div>
  <%= render 'layouts/footer' %>    

</body>
<script type="text/javascript">
  $(window).unbind();
  $(document).unbind('scroll');
</script>
</html>
