<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "CaseJongchyi" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <style type="text/css">
    #slide_head header .container{
      width: auto;
    }
    .navbar {
      min-height: 46px;
    }
    body {
      /*background-image: url('<%= asset_path("squared_metal_@2X.png") %>'); */
    }
    h1 {
      font-size: 48px;
    }
    p.large {
      font-size: 21px;
    }
    #slide_head .container{
      /*background-color: blue; */
      width: 1024px;
    } 
    #slide_body {
      height: 100%; 
      min-height:100%;
      position: relative;
    }
    #slide_body .container{
      /*background-color: blue; */
      width: 1024px;
      height: 100%; 
      min-height:100%;
    }

    #footer {
      position: relative;
      z-index: 1000;
    }
    

    @media (max-width: 768px) {
      #slide_head .container{
        /*background-color: red; */
        width: auto;
      } 
      #slide_body .container{
        /*background-color: red; */
        width: auto;
      } 
      h1 {
        font-size: 30px;
      }
      p.large {
        font-size: 14px;
      }
    }
  </style>
  <div id="slide_head">
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <div class="container">
       
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          
        </div>     
      </div>  
      
    </div>
  </div>
  <div id="slide_body">
    <%= yield %>
    <%= render 'layouts/footer' %>    
  </div>

</body>
</html>
